*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(85, 78, 78, 0.7),rgba(3, 4, 4, 0.7)), url(Image-Trangchu/header.jpg) ;   
    background-position: center;
    background-size: cover;
    position: relative;
}
.imglogo{
    border-radius: 50%;
    width:80px ; height: auto;
}
nav{
    display: flex;
    padding: 2% 6% 1%;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(141,164,169,0.6);
}
.nav-links{
    flex: 1;
    text-align: center;
    font-size: large;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #ffff;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
}
.nav-links ul li a:hover{
    color:  #003056;
    size: 20px;
   
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #003056;
    display: block;
    margin:auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width:100%;

}
.headericon ul {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
} 
.headericon ul li{
    justify-content: space-between;
    position: relative;
    padding: 20px;
}
.headericon ul li a i{
    color: #ffff;
    transition: 0.5s;
}
.headericon ul li a i:hover{
    color: #003056;
}
.text-box{
    font-family: cursive;
    font-size: 70px;
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
nav .fa-regular{
    display: none;
}
nav .fa-bars{
    display: none;
}
.Semi_Footer {
    width: 100%;
    text-align: center;
    padding: 300px 0;
    background-color:rgba(219,222,238,1);
    
}
.Semi_Footer h6 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font: 1em sans-serif;
}
.Semi_Footer h1 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font: 3em sans-serif;
    margin-left: 8%;
    margin-right: 8%;
}
.Semi_Footer button {
    padding: 20px 50px;
    border-radius: 30px;
    color: aliceblue;
    font: 1em sans-serif;
    background: linear-gradient(#003056,#028090);
}

 @media(max-width: 700px){
    .text-box{
        font-size: 22px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li a{
        font-size: 15px;
        
    }
    .nav-links{
        position:absolute;
        background-color: rgb(157, 176, 180);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa-regular{
        display: block;
        color: #003056;
        padding: 10px 0px 1px;
        font-size: large;
        cursor: pointer;
    }
    nav .fa-bars{
        display: block;
    }
    .nav-links ul{
        padding: 20px;
    }
    .nav-links ul li a:hover{
        color:  #003056;
        size: 20px;
       
    }
    .nav-links i {
        padding: 20px;
    }
    .imglogo{
        border-radius: 50%;
        width:50px ; height: auto;
    }
    .Semi_Footer h1 {
        font: 2em sans-serif;
    }
} 
